@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8fafc;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body{
margin:0;
background:#050505;
font-family:Inter,system-ui;
}


.app{
min-height:100vh;
color:white;
}


header{

height:70px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 30px;
border-bottom:1px solid #222;

}


.brand{
font-size:22px;
font-weight:800;
}

.brand span{
color:#ff4d4d;
margin-left:8px;
}



.layout{
display:flex;
}



aside{

width:230px;
padding:20px;
border-right:1px solid #222;

}


.item{

padding:14px;
border-radius:12px;
cursor:pointer;
color:#999;
margin-bottom:8px;

}


.item:hover,
.active{

background:#151515;
color:white;

}



main{

flex:1;
padding:40px;

}



.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}



.card,
.panel,
.table{

background:#0d0d0d;
border:1px solid #222;
border-radius:20px;
padding:25px;

}



.card h2{

font-size:42px;
margin:10px 0;

}



.table{

padding:0;
overflow:hidden;

}



.row{

display:flex;
align-items:center;
justify-content:space-between;
padding:18px;
border-bottom:1px solid #222;

}



.row small{

display:block;
color:#777;

}



button{

background:#151515;
border:1px solid #333;
color:white;
padding:10px 16px;
border-radius:10px;
cursor:pointer;

}



.red{

border-color:#ff4d4d;
color:#ff4d4d;

}


.green{

border-color:#00ff99;
color:#00ff99;

}


.badge{

background:#222;
padding:6px 12px;
border-radius:999px;

}



input{

width:100%;
padding:15px;
margin-bottom:20px;
background:#111;
border:1px solid #333;
border-radius:12px;
color:white;

}



.center{

height:100vh;
display:flex;
align-items:center;
justify-content:center;

}



@media(max-width:900px){

.cards{
grid-template-columns:1fr;
}


aside{
display:none;
}

main{
padding:20px;
}

}